/*
=============== 
Fonts
===============
*/
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap"); */
body {
  font-family: FreightSansLF Pro,Noto Sans JP,Noto Sans KR,Helvetica Neue,Helvetica,Arial,Lucida Grande,Segoe UI,Tahoma,-apple-system,Roboto,sans-serif;
  overflow-x: hidden;
}

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
button {
  outline: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: #707070;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
/* section */
.section {
  padding: 60px 0;
}
.section-no-btm {
  padding: 60px 0 0 0;
}
.section-no-top {
  padding: 0 0 60px 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
=============== 
Sidebar
===============
*/
.sidebar-toggle {
  position: fixed;
  z-index: 3;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #26a69a;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
  outline: none;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.sidebar-toggle:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.4rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
}
.close-btn:hover {
  color: var(--clr-red-light);
}
.logo {
  /* -ms-grid-column-align: center;
      justify-self: center; */
  height: 40px;
}

.links a {
  display: block;
  font-size: 1.1rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: #000;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  border-bottom: 1px solid gray;
}
.links a:hover,.act a {
  background: #000;
  color: #fff;
  font-weight: bold;
  padding-left: 1.8rem;
}
.social-icons {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons li {
  border: 1px solid #E9EAEB;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons li:not(:last-of-type) {
  margin-right: 10px;
}
.social-icons a {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  color: #E9EAEB;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translate(-100%);
      -ms-transform: translate(-100%);
          transform: translate(-100%);
  overflow-y: auto;
  z-index: 99;
  box-shadow:   0 2px 2px 0 rgba(0,0,0,0.14),
0 3px 1px -2px rgba(0,0,0,0.12),
 0 1px 5px 0 rgba(0,0,0,0.2);
}
.show-sidebar {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.sidebar {
  background-color: #fff;
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 300px;
  }
}

/*===============================
    ATF
===============================*/
.atf-container {
  height: 100vh;
}
.atf-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@font-face {
  font-family: 'Beyond The Mountains';
  font-style: normal;
  font-weight: normal;
  src: local('Beyond The Mountains'), url('./fonts/beyond_the_mountains.woff') format('woff');
  }
  @font-face {
  font-family: 'Beyond The Mountains';
  font-style: normal;
  font-weight: normal;
  src: local('Beyond The Mountains'), url('./fonts/beyond_the_mountains.woff') format('woff');
  }


.page-title {
  text-align: center;
  font-family: 'Beyond The Mountains';
  font-size: 5rem;
  line-height: 45px;
}
.sub-title {
  font-size: 1.2rem;
}


/*====================================
    Video
===========================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  z-index: 999;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  background: rgba(22, 34, 43,0.6);
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
h1 {
  color: var(--clr-white);
}
/*===============================
  ACCORDION
=======================*/
.accordion {
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.accordion.disabled {
	background-color: gray;
	pointer-events: none;
}

.active1,
.accordion:hover {
  background-color: #000;
  color: #fff !important;
}
.accordion.active1::after {
  content: '\2212';
	color: #fff;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.accordion:after,.accordion2:after  {
	content: '\002B';
	color: #000;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.links a:hover.accordion:after {
  color: #fff !important;
}


.active1:after {
	content: "\2212";
}

.panel {
	max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.1s;
  -o-transition: max-height 0.1s;
  transition: max-height 0.1s;
}
.panel a {
  padding-left: 50px;
  font-size: 15px;
  background: #49a6e9;
  color: #fff;
}
.panel a:hover {
  color: #000;
  font-weight: bold;
  background: #fff;
  padding-left: 60px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*===========================
      Main
==============================*/
/*--------------------------------------------------
  Container
--------------------------------------------------*/
.l-container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.l-container.is-fluid {
  max-width: 100% !important;
}

@media (min-width: 410px) {
  .l-container {
    max-width: 395px;
  }
}

@media (min-width: 576px) {
  .l-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .l-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .l-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .l-container {
    max-width: 1140px;
  }
}

/*=====================================
  main sections
=================================*/
.section-title {
  color: #292929;
  font-family: FreightSansLF Pro,Noto Sans JP,Noto Sans KR,Helvetica Neue,Helvetica,Arial,Lucida Grande,Segoe UI,Tahoma,-apple-system,Roboto,sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 24px;
  margin-bottom: 20px;
}
.section-title.mar40 {
  margin-bottom: 40px;
}
/*====================================
  card
===================*/

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          margin-bottom: 100px;
}

.card-container.mar60 {
  margin-bottom: 60px;
}

.card {
  -webkit-box-flex:  0;
      -ms-flex:  0 0 24%;
          flex:  0 0 24%;
  max-width: 100%;
  background: #000;
  overflow: hidden;
  /* border: 10px solid #fff; */
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow:1px 1px 5px rgba(0, 0, 0, 0.3);
  min-height: 310px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          transition: all 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.06);
}
.card-link {
  display: inherit;
}
.card-details {
  color: #fff;
  z-index: 1;
  text-align: center;
  line-height: 0;
}
.card-title {
  font-size: 32px;
}
.card-sub1,.card-sub2 {
  color: #fff;
}
.card-sub1 {
  font-size: 14px;
}
.card-sub2 {
  font-size: 18px;
}
.card-img {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
  left: 0;
}

/*====================================
  card02
===================*/
.card02 {
  display: flex;
  justify-content: space-between;
  flex: 0 0 48%;
  max-width: 48%;
}
.column {
  flex-direction: column;
}
@media (max-width: 768px) {
  .card02 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card-container {
    flex-wrap: wrap;
  }
}
.card02-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.rounded-container {
  max-width: 250px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.6);
  background: #000;
  position: relative;
}
.landscape {
  max-width: 100%;
  max-height: 150px;
}
.translate01 {
  transform: translateY(25px) translateX(-29px);
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.translate01:hover {
  transform: translateY(25px) translateX(0px);
}
.translate02 {
  transform: translateY(48px) translateX(-60px);
  transition: all 0.5s ease-in-out;
}
.translate02:hover {
  transform: translateY(48px) translateX(-30px);
}
.translate03 {
  transform: translateY(-100px);
}
.translate01.rev {
  transform: translateY(20px) translateX(40px);
}
.translate02.rev {
  transform: translateY(40px) translateX(90px);
}
.translate01.rev:hover {
  transform: translateY(20px) translateX(10px);
}
.translate02.rev:hover {
  transform: translateY(40px) translateX(50px);
}
.width85 {
  width: 85%;
  transform: translateX(17.3%);
  transition: all 0.3s ease-in-out;
}
.width85:hover {
  transform: translateY(-50px) translateX(81px);
}
.width93 {
  width: 93%;
  transform: translateX(7.3%) translateY(-50px);
  transition: all 0.3s ease-in-out;
}
.width93:hover {
  transform: translateX(37px) translateY(-100px);
}
.height150 {
  height: 150px;
  object-fit: cover;
}
.height350 {
  height: 400px;
  object-fit: cover;
  z-index: 3;
}
.height300 {
  height: 350px;
  object-fit: cover;
  z-index: 2;
}
.height250 {
  height: 300px;
  object-fit: cover;
  z-index: 1;
}
.enlarged {
  transform: scale(1.4);
}
.rounded-container img {
  width: 100%;
}

.card02-img {
  transition: all 0.2s ease-in-out;
}

.card02-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45%;
  right: 27%;
  transform: translateX(4%);
  text-align: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.card02-details p {
  color: #fff;
  font-size: 16px;
}
.card02-details h4 {
  color: #fff;
  letter-spacing: 0;
}
.card02-link {
  display: block;
}
.card02-link:hover .card02-img {
  opacity: 0.5;
}
.card02-link:hover .card02-details {
  opacity: 1;
}
.read-more {
  color: #49a6e9;
}

/*====================================
    TITLE
============================*/

.title02 {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 100px 0;
  font-size: 42px;
  background: rgba(0,0,0,0.6);
  font-family: 'Beyond The Mountains';
}
.title02-cont {
  background: url(./images/island-bg.jpg) center/cover no-repeat;
  margin-bottom: 60px;
}

.title03 {
  padding-bottom: 13px;
  border-bottom: 1px solid #26a69a;
  font-size: 20px;
  color: #343434;
  letter-spacing: 2px;
}
.title03-icon {
  margin-right: 10px;
  font-size: 25px;
  color: #78B657;
}
/*====================================
  card03
===================*/

.card-container02 {
  display: flex;
  justify-content: space-between;
}
.card03 {
  flex: 0 0 24%;
  max-width: 24%;
  background-color: #fff;
box-shadow:   0 2px 2px 0 rgba(0,0,0,0.14),
0 3px 1px -2px rgba(0,0,0,0.12),
 0 1px 5px 0 rgba(0,0,0,0.2);
 border-radius: 10px;
 transition: all 0.25s ease-in-out;
}
.card03:hover {
  transform: translateY(-23px) scale(1.05);
}

.card03-img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.card03-img img {
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}
.card03-details {
  padding: 15px;
}
.card03-details p {
 margin-bottom: 0;
}
.card03-ttl {
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(160,160,160,0.2);
}

.card03-link {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card03 a {
  color: #49a6e9;
}

/*====================================
  footer
===================*/
footer {
  background-color: #49a6e9;
}

.copyright {
  display: flex;
}
.copyright-items {
  flex: 0 0 50%;
  max-width: 50%;
}
.flex {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list01 {
  padding: 12px;
}

.list01 li{
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
}
.list01 a {
  color: #fff;
}
.copyright-items p {
  padding: 12px 10px;
  color:#fff;
  font-size: 12px;
  margin-bottom: 0;
  text-align: right;
}